header {
  background: $bucket-gray;
  height: $header-height;
  .max-width {
    display: flex;
    align-items: center;
  }
  .wrapper-logo {
    flex: 0 0 170px;
    img {
      padding-top: 15px;
    }
  }
  nav {
    flex: 1 1 100%;
    text-align: right;
    display: none;
    li a {
      line-height: $header-height;
      display: inline-block;
      &.active {
        font-weight: 700;
        color: $purple;
      }
    }
  }
  @include bp(m) {
    .wrapper-logo {
      img {
        padding-top: 0;
      }
    }
    nav {
      display: block;
    }
  }
}
