$bps:(xs: 0, s:640px, m:1024px, l:1320px);
$gutter-width:24px;

$hero-gray: #efefef;
$bucket-gray: #f7f7f7;
$white: #fff;
$blue: #00a3eb;
$purple: #0000b4;
$text-gray: #444444;
$header-height: 70px;
$max-width: 1280px;